@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0f;
  --foreground: #fafafa;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background: #0e0e13;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
